<template>
  <section class="app-spinner" v-show="isShown">
    <spinner />
  </section>
</template>

<script>
import Spinner from "@/components/Spinner";

export default {
  components: { Spinner },
  props: ["isShown"]
};
</script>

<style lang="scss" scoped>
.app-spinner {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
}
</style>
