.router-slide-enter-active {
  animation: router-slide-enter 0.1s;
  animation-delay: 0.1s;
}
.router-slide-leave-active {
  animation: router-slide-leave 0.1s reverse;
}

@keyframes router-slide-enter {
  0% {
    transition: all 1s cubic-bezier(1, 0.5, 0.8, 1);
    transform: translateX(-15px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes router-slide-leave {
  0% {
    transition: all 1s cubic-bezier(1, 0.5, 0.8, 1);
    transform: translateX(15px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
