@import url("https://fonts.googleapis.com/css?family=Roboto+Mono");
@import url("https://unpkg.com/element-ui/lib/theme-chalk/index.css");
@import url("./_animations.scss");

body {
  margin: 0;
  font-family: "Roboto";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  color: #777;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  position: relative;
}
