<template>
  <div id="app">
    <TheHeader/>
    <AppSpinner :is-shown="isLoading"/>

    <section class="form container">
      <form enctype="multipart/form-data" novalidate>
        <h1>Upload audio</h1>
        <div class="dropbox">
          <input
            type="file"
            multiple
            name="audio"
            :disabled="isSaving"
            @change="onFileChange($event.target)"
            class="input-file"
          >
          <p v-if="!isSaving">Throw me some .mp3 files!</p>
          <p v-else>Uploading {{ fileCount }} files...</p>
        </div>
      </form>
    </section>

    <br>

    <section class="container" v-if="isSuccess">
      <h1>Transcribed content</h1>
      <div class="transcribed" v-for="item in transcribed" :key="item.$index">
        <h4 class="filename">{{ item.file }}</h4>
        <div class="sentence">{{ item.transcription }}</div>
      </div>
    </section>
  </div>
</template>

<script>
import { upload } from "@/services/transcribe";
import TheHeader from "@/components/TheHeader";
import AppSpinner from "@/components/AppSpinner";

export default {
  name: "app",
  components: { TheHeader, AppSpinner },
  data() {
    return {
      status: "idle",
      isLoading: false,
      uploadedFiles: [],
      uploadError: null,
      fileCount: 0,
      transcribed: ""
    };
  },
  computed: {
    isInitial() {
      return this.status === "idle";
    },
    isSaving() {
      return this.status === "saving";
    },
    isSuccess() {
      return this.status === "success";
    },
    isFailed() {
      return this.status === "failed";
    }
  },
  methods: {
    reset() {
      // reset form to initial state
      this.status = "idle";
      this.uploadedFiles = [];
      this.uploadError = null;
    },
    onFileChange({ name, files }) {
      this.fileCount = files.length;
      const formData = new FormData();

      if (!files.length) return;

      // append the files to FormData
      Array.from(Array(files.length).keys()).map(file => {
        formData.append(name, files[file], files[file].name);
      });

      // save it
      this.save(formData);
    },
    save(formData) {
      // upload data to the server
      this.status = "saving";

      upload(formData)
        .then(data => {
          this.transcribed = data;
          this.uploadedFiles = [].concat(data);
          this.status = "success";
        })
        .catch(err => {
          this.uploadError = err.response;
          this.status = "failed";
        });
    }
  }
};
</script>

<style lang="scss">
@import url("./assets/global.scss");

body {
  padding-bottom: 100px;
}

.transcribed {
  border-radius: 5px;
  padding: 25px;
  background: #fff;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #eee;

  &:not(:first-child) {
    margin-top: 15px;
  }

  .filename {
    background: #f8f8f8;
    border-radius: 5px 5px 0 0;
    margin: -25px -25px 15px -25px;
    padding: 15px 25px 15px;
    border-bottom: 1px solid #eee;
  }

  .sentence {
    white-space: pre-wrap;
    line-height: 1.7em;
    color: #666;
    font-weight: 100;
    font-style: italic;
  }
}

.dropbox {
  outline: 2px dashed #999;
  outline-offset: -10px;
  background: #f8f8f8;
  color: #888;
  border-radius: 5px;
  padding: 10px 10px;
  min-height: 200px;
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 300;
  font-style: italic;
}

.dropbox:hover {
  background: #f0f0f0;
}

.input-file {
  opacity: 0;
  width: 100%;
  height: 200px;
  position: absolute;
  cursor: pointer;
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
}
</style>
